/* app css stylesheet */

/*for angular-ui bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html {
  height: 100%;
}

body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.main {
  height: 100%;
}

.NonNumericColumnController {
  background-color:blue;
  min-width: 100px;
  max-width: 200px;
  width: 15%;
  height: 60%;
}

.NumericColumnController {
  background-color:red;
  min-width: 100px;
  max-width: 200px;
  width: 15%;
  height: 40%;
}

.workingDataArea{
  width: 100%;
  height: 100%;
}

.topMenuBar{
  width: 100%;
  height: 20px;
  background-color: lightgray;
  font-weight: bold;
}
