/* app css stylesheet */

/*for angular-ui bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html {
  height: 100%;
}

body {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.main {
  height: 100%;
}

.NonNumericColumnController {
  background-color:#EEEEEE;
  min-width: 250px;
  max-width: 350px;
  width: 20%;
  min-height: 400px;
  height: 60%;
  float: top;
}

.NumericColumnController {
  background-color:#EEEEEE;
  min-width: 250px;
  max-width: 350px;
  width: 20%;
  min-height: 400px;
  height: 40%;
  float: top;
}

.ColumnDropDestination{
}

.RowDropDestination{
}

.DropDestination{
  float: top;
  background-color: #EEEEEE;
  margin: 3px 0 3px 3px;
  min-width: 100px;
  width: 100%;
  height: 30px;
  border-top-left-radius: 10px;
}

.DropDestinationTitle{
  background-color: #CCCCCC;
  font-weight: normal;
  margin: 1px 0 1px 1px;
  padding: 3px 0 5px 10px;
  width: 100px;
  border-top-left-radius: 10px;
}

.workingDataArea{
  width: 100%;
  height: 100%;
}

.topMenuBar{
  width: 100%;
  height: 20px;
  background-color: #DDDDDD;
  font-weight: bold;
}

.dropdown-toggle{
  color: black;
  padding-left: 0;
}

.candidateField{
  margin-left: 7px;
  width: 250px;
  height: 25px;
}

.graphDiv{
  float: top;
  background-color: #FFFFFF;
  width: 450px;
  height: 425px;
}

.messageInsteadOfChart{
  float: top;
  background-color: #FFDDDD;;
  width: 350px;
  height: 325px;
  margin-left: 10px;
}

.messageInsteadOfChartTitle{
  font-weight: bold;
  padding-left: 5px;
}

.messageInsteadOfChartMessage{
  font-weight: normal;
  padding-left: 5px;
}

.candidateFieldsTitle{
  background-color: #BBBBCC;
  min-width: 250px;
  max-width: 250px;
  width: 20%;
  height: 20px;
  float: top;
}

.candidateFieldsColumn{
  min-width: 250px;
  max-width: 250px;
}

.decidedField{
  background-color: #BBBBFF;
  padding: 3px 3px 0 10px;
  margin: 3px 5px 0 5px;
  border-radius: 10px;
  width: 250px;
  height: 25px;
}

