<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <!--div ng-controller="GeneralController" class="main"-->
  <div file-dropzone ng-controller="GeneralController" class="main">
    <!--ul class="menu">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
    </ul>
  
    <div ng-view></div>
  
    <div>Angular seed app: v<span app-version></span></div-->
    <div class="topMenuBar">
      <span class="dropdown" ng-controller="DropdownFile">
        <a class="dropdown-toggle">
          File
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="choice in items">
            <a ng-click="choice.action()">{{choice.label}}</a>
          </li>
        </ul>
      </span>
    </div>
    <div class="workingDataArea" ng-controller="FileOpenController">
      <div style="float:left">
        <div ng-controller="NonNumericColumnController" ui-on-Drop="" class="NonNumericColumnController">
          <label ng-repeat="column in dataCommunicator.candidateNonNumericFields track by $index" ui-draggable="true" drag="column" on-drop-success="" class="candidateField">{{ column.name }}</label> 
   .
        </div>
        <div ng-controller="NumericColumnController" ui-on-Drop="" class="NumericColumnController">    
          <label ng-repeat="column in dataCommunicator.candidateNumericFields track by $index" ui-draggable="true" drag="column" on-drop-success="" class="candidateField">{{ column.name }}</label> 
          .
        </div>
      </div>
      <div style="float:left;width:70%;">
        <div ui-on-Drop="onDrop($event,$data,dataCommunicator.columnFields)" class="ColumnDropDestination">
          <label ng-repeat="column in dataCommunicator.columnFields track by $index" ui-draggable="true" drag="column" on-drop-success="dropSuccessHandler($event,$index,dataCommunicator.columnFields)" class="candidateField">{{ column.name }}</label> 
          .
        </div>
        <div ui-on-Drop="onDrop($event,$data,dataCommunicator.rowFields)" class="RowDropDestination">
          <label ng-repeat="column in dataCommunicator.rowFields track by $index" ui-draggable="true" drag="column" on-drop-success="dropSuccessHandler($event,$index,dataCommunicator.rowFields)" class="candidateField">{{ column.name }}</label> 
          .
        </div>
        <div class="graphDiv">
          .
          <div id="chart_div" style="width: 900px; height: 500px;"></div>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div ng-controller="FileOpenController" class="modal-header">
          <button ng-click="openTheFile(param.file)">go</button>
          <input type="file" data-file="param.file" />
          <button ng-click="cancel()">Cancel</button>
        </div>
    </script>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script src="lib/draganddrop/draganddrop.js"></script>
  <script src="js/googleGraph.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/DatabaseService.js"></script>
  <script src="js/DataCommunicatorService.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/ColumnDropDestinationController.js"></script>
  <script src="js/DropDownMenusController.js"></script>
  <script src="js/FileOpenController.js"></script>
  <script src="js/NonNumericColumnController.js"></script>
  <script src="js/NumericColumnController.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/FileSelectorDirective.js"></script>
  <script src="js/FileDropDirective.js"></script>
</body>
</html>
